@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Great+Vibes&family=Lobster&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

/* =============================== Popups =============================== */

.popup_messages{
    justify-content: center;
    align-items: center;
}

/* =============================== NavBar =============================== */

.navbar{
    position: fixed;
    background-color: #c6bcb3;
    width: 100%;
    height: 59px;
    z-index: 100;
    opacity: 70%;
}
.navbar_notFixed{
    background-color: #c6bcb3;
    width: 100%;
    height: 50px;
    z-index: 10;
    opacity: 70%;
}


.navbar__columns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar__logo{
    height: 45px;
    margin-left: 20px;
    width: 45px;
    margin-top: 4px;
    border-radius: 50%;
}

.navbar__rightside{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2px;
}

.navbar__ul{
    flex-direction: row;
    display: flex;
    gap: 0.1px;
    width: 100%;
    align-items: right;
    justify-content: right;
    padding-right: 2px;
}

.navbar__li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    padding-top: 17.5px;
    padding-bottom: 10px;
}

.navbar__buttons{
    text-decoration: none;
    width: 70px;
    height: 60px;
    border-radius: 5px;
    background-color: #c6bcb3;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    transition: all 0.3s ease;
    border: 1px white solid;
}

.navbar__buttons:hover{
    background-color: white;
    color: #c6bcb3;
}

.navbar__burgers{
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    margin-bottom: 5px;
    color: white;
}

.navbar__hamburger{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    margin-bottom: 2px;

}

.right_side_popup{
    z-index: 100;
    position: fixed;
    background-color: #c6bcb3;
    opacity: 70%;
    height: 21%;
    width: 18%;
    justify-content: center;
    align-items: center;
    display: flex;
    right: 0;
    top: 59px;
}

#ul_popup{
    list-style: none;
}

#li_popup{
    padding-top: 15%;
    padding-bottom: 15%;
}

.li_a{
    text-decoration: none;
    color: white;
}

.hidden{
    visibility: hidden;
}

/* =============================== hero section / main page =============================== */

.main{
    height: 220vh;
}

.hero{
    background-color: #d1cdca;
    text-align: center;
    height: 100vh;
    border-bottom: 2px #ccc9bb solid;
    box-shadow: 70px 70px 70px 70px #ccc9bb;
}

.model_image{
    -webkit-mask-image:-webkit-gradient(linear, right top, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));  
    background-color: transparent; 
    margin-top: 3%;
    margin-left: 20%;
}

.upper_hero{
    padding: 2%;
    display: flex;
    padding-left: 7%;


}

.slogan{
    width: 30%;
    text-align: center;
    padding-top: 4%;
}

.slogan_paragraph{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-weight: 800;
    font-size: 202px;
    color: white;
    text-shadow: #bca697 2px 2px;
    margin-right: 40%;
    opacity: 75%;
}

.sloganflexrow{
    display:flex;
    position: absolute;
    z-index: 30;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
    top: 45%;
    left: 16%;
    opacity: 75%;
}

.line1,
.line2
{
    width: 12vw;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px #bca697;
}


.slogan_cross{
    font-size: 36px;
    color: #fff;
    font-weight: 300;
}

.take_quiz_section{
    align-items: center;
    justify-content: left;
    gap: 10px;
    left: 20%;
}


.quiz_paragraph{
    text-align: center;
    position: absolute;
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
    font-size: 62px;
    color: white;
    text-shadow: #bca697 2px 2px;
    opacity: 75%;
    top: 55%;
    left: 13%;
}

.take_quiz {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    left: 23.5%;
    top: 71%;
    opacity: 75%;
  }
  
  .take_quiz:hover {
    box-shadow: .5px .5px 150px #381607;
  }
  
  .take_quiz::after {
    content: "Quiz";
    height: 50px;
    width: 150px;
    background-color: #bca697;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .take_quiz::before {
    content: "Take the";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #bca697;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .take_quiz:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .take_quiz:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }

/* .quiz_button{
    background-color: #b2ccd8;
    text-decoration: none;
    margin-top: 100px;
    height: 40px;
    width: 110px;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px #44487f solid;
    color: #44487f; 
    transition: all 0.3s ease;
}

.quiz_button:hover{
    background-color: #44487f;
    color: #b2ccd8;
} */

.about_section{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #d1cbc9;
    border-top: 2px #ccc9bb solid;
    box-shadow: 0px 0px 70px 70px #ccc9bb;
}

.about_section_container{
    position: relative;
    width: 100%;
    margin-top: 15px;
    padding-left: 35px;
    padding-right: 30px;
}

.about_section_header{
    text-align: center;
    position: absolute;
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
    font-size: 82px;
    color: white;
    text-shadow: #bca697 2px 2px;
    opacity: 75%;
    right: 27%;
    top: 12%;
}

.about_section_explanation{
    font-weight: 600;
    text-align: left;
    color: white;
    text-shadow: #bca697 2px 2px;
    font-size: 18px;
    width: 40%;
    margin-top: 13%;
    margin-left: 60%;
    opacity: 75%;
    font-family: 'Diphylleia', cursive;
}

.span_about{
    color: #bca697;
    text-shadow: none;
    font-family: 'Diphylleia', cursive;
}

.about_section_images{
    width: 55%;
    height: 100vh;
    position: absolute;
    opacity: 95%;
}

.male_model{
    height: 525px;
    width: 700px;
    z-index: 2;
    position: relative;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom), from(rgba(0,0,0,1)), to(rgba(0,0,0,0));
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); 
    top: 5%;
}

/* .about_model{
    height: 300px;
    width: 250px;

    z-index: 1;

} */

.contact_and_legal_section{
    background-color: #c6bcb3;
    height: 75vh;
    z-index: 5;
    border-top: 2px #eadfdc solid;
    box-shadow: 0px 0px 50px 50px #eadfdc;
    padding-top: 15px;
    opacity: 75%;
}

.contact_and_legal_section_header{
    font-family: 'Diphylleia', cursive;
    text-align: center;
    color: #381607;
    margin-bottom: 2%;
}

.email{
    height: 30px;
    width: 40px;
    padding-top: 5px;
}

.my_email{
    padding: 8px;
}

/* =============================== Quiz page =============================== */

.container{
    background-color: #c6bcb3;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 75%;
    
}

.quiz_form{
    background-color: #ccc9bb;
    height: 94.5%;
    width: 97.5%;
    border-radius: 9px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.quiz_header{
    text-align: center;
    font-family: 'Great vibes', cursive;
    font-weight: 800;
    font-size: 62px;
    color: white;
    text-shadow: #bca697 2px 2px;
    top: 0%;
}

.quiz_explanation{
    margin-top: 5px;
    font-weight: 600;
    color: #381607;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Diphylleia', cursive;
}

.question_title{
    color:#381607;
    font-size: 19px;

}

.form-group{
    padding-bottom: 8.5px;
}
.form-control{
    width: 40%;
    height: 2em;
    border-radius: 30px ;
    background-color: #dedbdd;
    border: 0px;
    color: #381607;
    font-weight: 300;
}

.quiz_form button{
    width: 6%;
    height: 7%;
    margin-left: 47%;
    margin-right: 47%;
    height: 40px;
    width: 70px;
    border-radius: 30px;
    border: 2px solid #381607;
    cursor: pointer;
    background-color: #ccc9bb;
    transition: all 0.5s ease;
    color: #381607;
}

.quiz_form button:hover{
    border: 1px #ccc9bb solid;
    background-color: #381607;
    color: #ccc9bb;
    transform: scale(1.1);
    
}

.quiz_exit{
    width: 5%;
    height: 5%;
    position: absolute;
    top: 8%;
    left: 3%;
}

/* =============================== Signup page =============================== */

.signup_container{
    background-image: url(/static/images/line.svg);
    height: 100vh;
}

.signup_exit{
    margin-left: 2%;
    margin-top: 2%;
    width: 30px;
    height: 30px;
}

.signup_outerform{
    width: 26vw;
    height: 62vh;
    border: 4px solid #381607;
    background-color: #ccc9bb;
    perspective: 800px;
    border-radius: 20px;
    margin-left: 36%;
    margin-top: 4%;
    opacity: 98%;
}

.signup_form{
    background-color: #bca697;
    width: 25vw;
    height: 60vh;
    border-radius: 14px;
    z-index: 4;
    transform:  translate3d(15px, 15px, 20px);
    /* https://www.programiz.com/css/3d-transform */
}

.signup_header{
    padding-left: 32%;
    padding-top: 5%;
    color: #381607;
}

.signup_input_container{
    padding-top: 5%;
    padding-left: 5%;
    align-items: center;
    justify-content: center;
}

.signup_input{
    width: 95%;
    height: 2em;
    border-radius: 30px ;
    background-color: #ccc9bb;
    border: 0px;
    color: #381607;
    font-weight: 300;
    padding-left: 10px;
}

.signup_button{
    margin-left: 37%;
    margin-top: 8%;
    height: 40px;
    width: 70px;
    border-radius: 30px;
    border: 2px solid #381607;
    cursor: pointer;
    background-color: #ccc9bb;
    transition: all 0.5s ease;
    color: #381607;
}

.signup_button:hover{
    background-color: #381607;
    color: #ccc9bb
}

.signup_hyperlink{
    margin-top: 6%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login_link{
    font-size: small;
    color: #381607;
}

@media screen and (max-width: 500px){
    .signup_form{
        width: 70vw;
        height: 60vh;
        border-radius: 14px;
        z-index: 4;
        transform:  translate3d(15px, 15px, 20px);
        /* https://www.programiz.com/css/3d-transform */
    }

    .signup_outerform{
        width: 70vw;
        height: 62vh;
        perspective: 800px;
        border-radius: 20px;
        margin-top: 20%;
        margin-left: 12%;

    }
    
    .signup_container{
        background-image: url(/static/images/line.svg);
        height: 100vh;
    }
    
}

@media screen and (max-width: 1200px) and (min-width: 501px){
    .signup_form{
        width: 50vw;
        height: 60vh;
        border-radius: 14px;
        z-index: 4;
        transform:  translate3d(15px, 15px, 20px);
        /* https://www.programiz.com/css/3d-transform */
    }

    .signup_outerform{
        width: 50vw;
        height: 62vh;
        perspective: 800px;
        border-radius: 20px;
        margin-top: 20%;
        margin-left: 24%;

    }
    
    .signup_container{
        background-image: url(/static/images/line.svg);
        height: 100vh;
        font-size: larger;

    }

    .signup_button{
        height: 60px;
        width: 90px;
        font-size: medium;
    }

    .login_link{
        font-size: medium;
    }

    .signup_input{
        width: 95%;
        height: 3em;
        font-size: large;
    }
    
}

/* =============================== login page =============================== */

.login_container{
    background-image: url(/static/images/line.svg);
    height: 100vh;
}

.login_exit{
    margin-left: 2%;
    margin-top: 2%;
    width: 30px;
    height: 30px;
}

.login_outerform{
    width: 26vw;
    height: 62vh;
    border: 4px solid #381607;
    background-color: #ccc9bb;
    perspective: 800px;
    border-radius: 20px;
    margin-left: 36%;
    margin-top: 4%;
    opacity: 98%;
}

.login_form{
    background-color: #bca697;
    width: 25vw;
    height: 60vh;
    border-radius: 14px;
    z-index: 4;
    transform:  translate3d(15px, 15px, 20px);
    /* https://www.programiz.com/css/3d-transform */
}

.login_header{
    padding-left: 37%;
    padding-top: 5%;
    color: #381607;
}

.login_input_container{
    padding-top: 5%;
    padding-left: 5%;
    align-items: center;
    justify-content: center;
}

.login_input{
    width: 95%;
    height: 2em;
    border-radius: 30px ;
    background-color: #ccc9bb;
    border: 0px;
    color: #381607;
    font-weight: 300;
    padding-left: 10px;
}

.login_button{
    margin-left: 37%;
    margin-top: 17%;
    height: 40px;
    width: 70px;
    margin-top: 20%;
    border-radius: 30px;
    border: 2px solid #381607;
    cursor: pointer;
    background-color: #ccc9bb;
    transition: all 0.5s ease;
    color: #381607;
}

.login_button:hover{
    background-color: #381607;
    color: #ccc9bb
}

.login_hyperlink{
    margin-top: 21%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.signup_link{
    font-size: small;
    color: #381607;
}

@media screen and (max-width: 500px){
    .login_form{
        width: 70vw;
        height: 60vh;
        border-radius: 14px;
        z-index: 4;
        transform:  translate3d(15px, 15px, 20px);
        /* https://www.programiz.com/css/3d-transform */
    }

    .login_outerform{
        width: 70vw;
        height: 62vh;
        perspective: 800px;
        border-radius: 20px;
        margin-top: 20%;
        margin-left: 12%;

    }
    
    .login_container{
        background-image: url(/static/images/line.svg);
        height: 100vh;
    }
    
}

@media screen and (max-width: 1200px) and (min-width: 501px){
    .login_form{
        width: 50vw;
        height: 60vh;
        border-radius: 14px;
        z-index: 4;
        transform:  translate3d(15px, 15px, 20px);
        /* https://www.programiz.com/css/3d-transform */
    }

    .login_outerform{
        width: 50vw;
        height: 62vh;
        perspective: 800px;
        border-radius: 20px;
        margin-top: 20%;
        margin-left: 24%;

    }
    
    .login_container{
        background-image: url(/static/images/line.svg);
        height: 100vh;
        font-size: larger;

    }

    .login_button{
        height: 60px;
        width: 90px;
        font-size: medium;
    }

    .signup_link{
        font-size: medium;
    }

    .login_input{
        width: 95%;
        height: 3em;
        font-size: large;
    }
    
}

/* =============================== wardrobe page =============================== */

.wardrobe_container{
    background-color: #b2ccd8;
    height: 92vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.inner_wardrobe_container{
    background-color: #d1dadf;
    height: 88vh;
    width: 206vh;
    border-radius: 9px;
    display: flex;
    padding-left: 0.25%;
}
.upload_container{
    width: 60%;
    height: 98%;
    background-color: #678497;
    margin-left: 5px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    
}

.generate_outfit{
    height: 98%;
    width: 38%;
    margin-top: 0.4%;
    margin-left: 0.8%;
    z-index: 3;
    background-color: #678497;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 9px;
    flex-direction: column;

}

.prompt_form{
    margin-top: 5%;
    color: #e3e8ff;
}

.prompt_input{
    width: 245px;
}

.outfit_output{
    background-color: #d1dadf;
    height: 70%;
    width: 90%;
    margin-bottom: 0%;
    margin-top: 5%;
    border-radius: 9px;
}
.wardrobe{
    height: 75%;
    width: 95%;
    border-radius: 9px,9px,0px,0px;
}

.wardrobe_img{
    height: 98%;
    width: 100%;
}


.photo_upload_container{
    height: 20%;
    width: 95%;
    background-color: #d1dadf;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0px,0px,9px,9px;
}

.generate_button{
    background-color: #b2ccd8;
    color: #44487f;
    text-decoration: none;
    height: 10%;
    width: 40%;
    margin: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 500px;
    position: relative;
}

.jacket_overlay_button{
    /*https://stackoverflow.com/questions/21395662/overlay-div-on-image*/
    height: 49.6%;
    width: 9.8%;
    background-color: transparent;
    position: absolute;
    top: 0px; 
    z-index: 3;
    margin-top: 9.8%;
    margin-left: 32%;
    transition: all 0.3s ease;
    border: none;
}

.jacket_overlay_button:hover{
    background-color: #edf96a;
    opacity: 50%;

}

.dress_overlay_button{
    /*https://stackoverflow.com/questions/21395662/overlay-div-on-image*/
    height: 49.6%;
    width: 9.8%;
    background-color: transparent;
    position: absolute;
    top: 0px; 
    z-index: 3;
    margin-top: 9.8%;
    margin-left: 41.7%;
    transition: all 0.3s ease;
    border: none;}

.dress_overlay_button:hover{
    background-color: #edf96a;
    opacity: 50%;

}

.hoodie_overlay_button{
    /*https://stackoverflow.com/questions/21395662/overlay-div-on-image*/
    height: 33.2%;
    width: 9.8%;
    background-color: transparent;
    position: absolute;
    top: 0px; 
    z-index: 3;
    margin-top: 9.8%;
    margin-left: 22.4%;
    transition: all 0.3s ease;
    border: none;
}

.hoodie_overlay_button:hover{
    background-color: #edf96a;
    opacity: 50%;

}

.trousers_overlay_button{
    /*https://stackoverflow.com/questions/21395662/overlay-div-on-image*/
    height: 16.3%;
    width: 9.8%;
    background-color: transparent;
    position: absolute;
    top: 0px; 
    z-index: 3;
    margin-top: 25.6%;
    margin-left: 22.4%;
    transition: all 0.3s ease;
    border: none;
}

.trousers_overlay_button:hover{
    background-color: #edf96a;
    opacity: 50%;

}

.shorts_overlay_button{
    /*https://stackoverflow.com/questions/21395662/overlay-div-on-image*/
    height: 8%;
    width: 18.2%;
    background-color: transparent;
    position: absolute;
    top: 0px; 
    z-index: 3;
    margin-top: 29.6%;
    margin-left: 4.3%;
    transition: all 0.3s ease;
    border: none;
}

.shorts_overlay_button:hover{
    background-color: #edf96a;
    opacity: 50%;

}

.skirt_overlay_button{
    /*https://stackoverflow.com/questions/21395662/overlay-div-on-image*/
    height: 4.6%;
    width: 18.2%;
    background-color: transparent;
    position: absolute;
    top: 0px; 
    z-index: 3;
    margin-top: 27.3%;
    margin-left: 4.3%;
    transition: all 0.3s ease;
    border: none;
}

.skirt_overlay_button:hover{
    background-color: #edf96a;
    opacity: 50%;

}

.t-shirt_overlay_button{
    /*https://stackoverflow.com/questions/21395662/overlay-div-on-image*/
    height: 37.3%;
    width: 18.2%;
    background-color: transparent;
    position: absolute;
    top: 0px; 
    z-index: 3;
    margin-top: 9.6%;
    margin-left: 4.3%;
    transition: all 0.3s ease;
    border: none;
}

.t-shirt_overlay_button:hover{
    background-color: #edf96a;
    opacity: 50%;

}
#close{
    cursor: pointer;
}
.image_popup{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.inner_image_popup{
    height: 80vh;
    width: 70vw;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.individual_images{
    width: 100px;
}

.top_popup{
    display: flex;
    flex-direction: row;
    display: relative;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    padding-top: 20px;
}

.close{
    height: 40px;
    width: 40px;
}

.images{
    height: 75%;
    width: 80%;
    overflow-y: scroll;
}

/* =============================== pop-up messages =============================== */

.flash-messages{
    width: 30vw;
    height: 5vh;
    border-radius: 6px;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #e20505;
    z-index: 300;
    position: absolute;
    padding-left: 15px;
    align-items: center;
    justify-content: left;
    display: flex;
    list-style: none;
}

.flash-message{
    color: #fbe2e2;
    font-weight: 400;
}

@media screen and (max-width: 500px){
    .flash-messages{
        height: 7vh;
        width: 50vw;
    }

    .flash-message{
        font-size: small;
    }
}

@media screen and (max-width: 1200px) and (min-width: 501px){
    .flash-messages{
        height: 7vh;
        width: 51vw;
    }

    .flash-message{
        font-size: large;
    }
}
