<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Stilista</title>
</head>
<body>
    <div class="bottom_right">
        <a href="/toggle_volume/index" class="bottom_right_button"><i class="fa-solid fa-volume-high"></i></a>
    </div>
    <nav class="navbar">
        <div class="navbar__columns">
            <a href = "/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="navbar__logo"></a>
            <div class="navbar__rightside">
                <ul class="navbar__ul">
                    <li class="navbar__li">
                        <a href="/login" class="navbar__buttons">Login</a>
                    </li>
                    <li class="navbar__li">
                        <a href="/signup" class="navbar__buttons">Sign-up</a>
                    </li>
                    <li class="navbar__li navbar__burgers">
                        <span class="navbar__hamburger"></span>
                        <span class="navbar__hamburger"></span>
                        <span class="navbar__hamburger"></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="hamburger_menu_active hidden">
        <div class="right_side_popup">
            <img scr="{{ url_for('static', filename='images/close.jpg') }}">
            <ul id="ul_popup">
                <li id="li_popup"><a class="li_a" href="/wardrobe">Wardrobe</a></li>
                <li id="li_popup"><a class="li_a" href="/quiz">Quiz</a></li>
                <li id="li_popup"><a class="li_a" href="/">Settings</a></li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="hero">
            <div class="upper_hero">
                <div class="slogan">
                    <p class="slogan_paragraph"> Stilista </p> 
                    <div class="sloganflexrow">
                        <span class="line1"> </span>
                        <i class="slogan_cross fa-solid fa-xmark"></i>                        
                        <span class="line2"> </span>
                    </div>
                    <div class="take_quiz_section">
                        <p class="quiz_paragraph">Make stilista yours</p>
                        <button class="take_quiz">
                        </button>
                    </div>
                </div>
                <div class="model_image">
                    <img src="{{ url_for('static', filename='images/model.jpg') }}" class="model" alt="clothing">
                </div>
            </div>
        </div>
        <div class="about_section">
            <div class="about_section_images">
                <img src="{{ url_for('static', filename='images/jeans.jpg') }}" class="male_model" alt="male_model" >
                <!-- <img src="{{ url_for('static', filename='images/about_model.jpg') }}" class="about_model" alt="about_model"> -->
                
            </div>
            <div class="about_section_container">
                <h1 class="about_section_header">About</h1>
                <p class="about_section_explanation"> <span class="span_about"> Stilista </span> is a virtual stylist that creates outfits for you! All you have to do is take the quiz so <span class="span_about">Stilista</span> can learn what style you like the best and upload your clothing into the virtual wardrobe and the rest will be done for you!</p>
            </div>
        </div>
        <div class="contact_and_legal_section">
            <div class="contact_and_legal_section_container">
                <h1 class="contact_and_legal_section_header">Contacts</h1>
                <p class="contact_paragraph"> In order to get in contact with one of the team, please click on the appropriate icon below: </p>
                <div class="contact_images">
                    <i class="instagram fa-brands fa-instagram"></i>
                    <i class="twitter fa-brands fa-twitter"></i>
                    <i class="email fa-regular fa-envelope"></i>
                    <i class="facebook fa-brands fa-facebook"></i>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.querySelector('.navbar__burgers').addEventListener('click', () => {
        document.querySelector('.hamburger_menu_active').classList.toggle('hidden');
    });
</script>
</html>