<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Stylista</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__columns">
            <a href = "/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="navbar__logo"></a>
            <div class="navbar__rightside">
                <ul class="navbar__ul">
                    <li class="navbar__li">
                        <a href="/login" class="navbar__buttons">Login</a>
                    </li>
                    <li class="navbar__li">
                        <a href="/signup" class="navbar__buttons">Sign-up</a>
                    </li>
                    <li class="navbar__li navbar__burgers">
                        <span class="navbar__hamburger"></span>
                        <span class="navbar__hamburger"></span>
                        <span class="navbar__hamburger"></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav class="hamburger_menu_active">
        <div class="right_side_popup">
            <img scr="{{ url_for('static', filename='images/close.jpg') }}">
            <ul id="ul_popup">
                <li id="li_popup"><a class="li_a" href="/wardrobe">Wardrobe</a></li>
                <li id="li_popup"><a class="li_a" href="/quiz">Quiz</a></li>
                <li id="li_popup"><a class="li_a" href="/">Settings</a></li>
            </ul>
        </div>
    </nav>

    <div class="main">
        <div class="hero">
            <a href="/quiz" class="quiz_button">Take the quiz!</a>
        </div>
        <div class="about_section">
            <div class="about_section_container">
                <h1 class="about_section_header">About</h1>
                <p class="about_section_explanation">Stilista is a virtual stylist which takes into account your personality and clothing to generate outfits for an occasion. Just take a picture of all your items of clothing, upload them to your own virtual wardrobe, enter a prompt and the rest will be done for you! </p>
            </div>
            <div class="about_section_images">
                <img src="{{ url_for('static', filename='images/wardrobe.png') }}" class="about_section_image_1" alt="Wardrobe" border="5">
                <img src="{{ url_for('static', filename='images/folded_clothing.jpg') }}" class="about_section_image_2" alt="clothing" border="5">
                <img src="{{ url_for('static', filename='images/possible_outfit.jpg') }}" class="about_section_image_3" alt="outfit" border="5">
            </div>
        </div>
        <div class="contact_and_legal_section">
            <div class="contact_and_legal_section_container">
                <h1 class="contact_and_legal_section_header">Contact</h1>
                <p class="contact_and_legal_section_explanation">If you have any questions or concerns, please email: </p>
                <div class="email_container">
                    <div style="float: left">
                        <img src="{{ url_for('static', filename='images/email.svg') }}" class="email" alt="email">
                    </div>
                    <div class="my_email">
                        17overtonk@student.cleeveschool.net
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.querySelector('.navbar__burgers').addEventListener('click', () => {
        document.querySelector('.hamburger_menu_active').classList.toggle('active');
    });
</script>
</html>