<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="popup_messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li class="flash-message">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}  
    </div>
    <div class="login_container">
        <nav class="exit_button">
            <a href = "/"><img src="{{ url_for('static', filename='images/exit.svg') }}" alt="Exit" class="login_exit"></a>
        </nav>
        <div class="login_outerform">
            <form method="POST" action="" class="login_form">
                <h1 class="login_header">Login</h1>
                <div class="login_input_container">
                    <input type="text" name="username" id="username" class="login_input" placeholder="Username">
                </div>
                <div class="login_input_container">
                    <input type="password" name="password" id="password" class="login_input" placeholder="Password">
                </div>
                <div class="login_input_container">
                    <input type="submit" value="Login" class="login_button">
                </div>
                <div class="login_hyperlink">
                    <a href="/signup" class="signup_link">Haven't got an account? Sign-up now!</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>