<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Signup</title>
</head>
<body class="signup_body" scroll="no" style="overflow: hidden">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}  
    <div class="signup_container">
        <form method="POST" action="" class="signup_form">
            <h1 class="signup_header">Signup</h1>
            <div class="signup_input_container">
                <label for="username" class="signup_label">Username:</label>
                <input type="text" name="username" id="username" class="signup_input" required>
            </div>
             <div class="signup_input_container">
                <label for="email" class="signup_label">Email:</label>
                <input type="email" name="email" id="email" class="signup_input" required>
            </div>
            <div class="signup_input_container">
                <label for="password" class="sign_label">Password:</label>
                <input type="password" name="password" id="password" class="signup_input" required>
            </div>
            <div class="signup_input_container">
                <label for="re-enter_password" class="sign_label">Re-enter password:</label>
                <input type="password" name="re-enter_password" id="re-enter_password" class="signup_input" required>
            </div>
            <div class="signup_input_container">
                <input type="submit" value="Signup" class="signup_button">
            </div>
        </form>
    </div>
</body>
</html>