<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Virtual wardrobe</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__columns">
            <a href = "/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="navbar__logo"></a>
            <div class="navbar__rightside">
                <ul class="navbar__ul">
                    <li class="navbar__li">
                        <a href="/login" class="navbar__buttons">Login</a>
                    </li>
                    <li class="navbar__li">
                        <a href="/signup" class="navbar__buttons">Sign-up</a>
                    </li>
                    <li class="navbar__li navbar__burgers">
                        <span class="navbar__hamburger"></span>
                        <span class="navbar__hamburger"></span>
                        <span class="navbar__hamburger"></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wardrobe_container">
        <div class="inner_wardrobe_container">
            <div class="upload_container">
                <div class="wardrobe">
                    <img src="{{ url_for('static', filename='images/possible_wardrobe.jpg') }}" alt="wardrobe_img" class="wardrobe_img">
                    <div class="jacket_overlay">
                        <a href="/signup" class="jacket_overlay_button"></a>
                    </div>
                    <div class="dress_overlay">
                        <a href="/signup" class="dress_overlay_button"></a>
                    </div>
                    <div class="hoodie_overlay">
                        <a href="/signup" class="hoodie_overlay_button"></a>
                    </div>
                    <div class="trouser_overlay">
                        <a href="/signup" class="trouser_overlay_button"></a>
                    </div>
                    <div class="shorts_overlay">
                        <a href="/signup" class="short_overlay_button"></a>
                    </div>
                    <div class="skirt_overlay">
                        <a href="/signup" class="skirt_overlay_button"></a>
                    </div>
                    <div class="other_overlay">
                        <a href="/signup" class="other_overlay_button"></a>
                    </div>
                </div>
                <div class="photo_upload_container">
                    <form method="POST" action="{{url_for('upload_file')}}" class="upload_form" enctype="multipart/form-data">
                        <div class="upload">
                            <label for="upload" class="upload_label">Upload: </label>
                            <input type="file" name="upload" id="upload" required class="upload_input">
                            <select name="clothing_type" required>
                                <option value="T-shirt">T-shirt</option>
                                <option value="Jacket">Jacket</option>
                                <option value="Hoodie">Hoodie</option>
                                <option value="Trousers">Trousers</option>
                                <option value="Shorts">Shorts</option>
                                <option value="Skirt">Skirt</option>
                                <option value="Dress">Dress</option>
                                <option value="Other">Other</option>
                            </select>
                            <input type="submit">
                        </div>
                    </form>
                </div>   
            </div>
            <div class="generate_outfit">
                <form method="POST" action="" class="prompt_form">
                    <div class="prompt">
                        <label for="prompt" class="prompt_label">Prompt: </label>
                        <input type="text" name="prompt" id="prompt" class="prompt_input">
                    </div>
                </form>
                <div class="outfit_output">
                    <p> test </p>
                </div>
                <div class="generate_button">
                    <a href="/" class="generate">Generate outfit!</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>