<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Virtual wardrobe</title>
</head>
<body>
    {% if show_popup %}
        <div class="image_popup">
            <div class="inner_image_popup">
                <div class="top_popup">
                    <h1 class="popup_title">{{ clothing_type }} </h1>
                    <a id="close"><img src="{{ url_for('static', filename='images/xmark-solid.svg') }}" alt="Logo" class="close"></a>
                </div>
                <div class="images">
                    {% if items == "No items found" %}
                        <p>No items were found in the database</p>
                    {% else %}
                        {% for item in items %}
                        <img class="individual_images" src="{{ url_for('static', filename='uploaded_images/'+ item+'.png')}}">
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <nav class="navbar">
        <div class="navbar__columns">
            <a href = "/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="navbar__logo"></a>
            <div class="navbar__rightside">
                <ul class="navbar__ul">
                    <li class="navbar__li">
                        <a href="/login" class="navbar__buttons">Login</a>
                    </li>
                    <li class="navbar__li">
                        <a href="/signup" class="navbar__buttons">Sign-up</a>
                    </li>
                    <li class="navbar__li navbar__burgers">
                        <span class="navbar__hamburger"></span>
                        <span class="navbar__hamburger"></span>
                        <span class="navbar__hamburger"></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="hamburger_menu_active hidden">
        <div class="right_side_popup">
            <img scr="{{ url_for('static', filename='images/close.jpg') }}">
            <ul id="ul_popup">
                <li id="li_popup"><a class="li_a" href="/wardrobe">Wardrobe</a></li>
                <li id="li_popup"><a class="li_a" href="/quiz">Quiz</a></li>
                <li id="li_popup"><a class="li_a" href="/">Settings</a></li>
            </ul>
        </div>
    </nav>
    <div class="wardrobe_container">
        <div class="inner_wardrobe_container">
            <div class="upload_container">
                <div class="wardrobe">
                    <img src="{{ url_for('static', filename='images/possible_wardrobe.jpg') }}" alt="wardrobe_img" class="wardrobe_img">
                    <div class="jacket_overlay">
                        <form action="{{ url_for('items_viewer', clothing_type='Jacket') }}" method="POST">
                            <button type="submit" class="jacket_overlay_button" title="Jackets"></button>
                        </form>
                    </div>
                    <div class="dress_overlay">
                        <form action="{{ url_for('items_viewer', clothing_type='Dress') }}" method="POST">
                            <button type="submit" class="dress_overlay_button" title="Dress"></button>
                        </form>
                    </div>
                    <div class="hoodie_overlay">
                        <form action="{{ url_for('items_viewer', clothing_type='Hoodie') }}" method="POST">
                            <button type="submit" class="hoodie_overlay_button" title="Hoodie"></button>
                        </form>
                    </div>
                    <div class="trouser_overlay">
                        <form action="{{ url_for('items_viewer', clothing_type='Trousers') }}" method="POST">
                            <button type="submit" class="trousers_overlay_button" title="Trousers"></button>
                        </form>
                    </div>
                    <div class="shorts_overlay">
                        <form action="{{ url_for('items_viewer', clothing_type='Shorts') }}" method="POST">
                            <button type="submit" class="shorts_overlay_button" title="Shorts"></button>
                        </form>
                    </div>
                    <div class="skirt_overlay">
                        <form action="{{ url_for('items_viewer', clothing_type='Skirt') }}" method="POST">
                            <button type="submit" class="skirt_overlay_button" title="Skirt"></button>
                        </form>
                    </div>
                    <div class="t-shirt_overlay">
                        <form action="{{ url_for('items_viewer', clothing_type='T-shirt') }}" method="POST">
                            <button type="submit" class="t-shirt_overlay_button" title="T-shirt"></button>
                        </form>
                    </div>
                </div>
                <div class="photo_upload_container">
                    <form method="POST" action="{{url_for('upload_file')}}" class="upload_form" enctype="multipart/form-data">
                        <div class="upload">
                            <label for="upload" class="upload_label">Upload: </label>
                            <input type="file" name="upload" id="upload" required class="upload_input">
                            <select name="clothing_type" required>
                                <option value="T-shirt">T-shirt</option>
                                <option value="Jacket">Jacket</option>
                                <option value="Hoodie">Hoodie</option>
                                <option value="Trousers">Trousers</option>
                                <option value="Shorts">Shorts</option>
                                <option value="Skirt">Skirt</option>
                                <option value="Dress">Dress</option>
                                <option value="Other">Other</option>
                            </select>
                            <input type="submit">
                        </div>
                    </form>
                </div>   
            </div>
            <div class="generate_outfit">
                <form method="POST" action="{{url_for('generate_outfit')}}" class="prompt_form">
                    <div class="prompt">
                        <label for="prompt" class="prompt_label">Prompt: </label>
                        <input type="text" name="prompt" id="prompt" class="prompt_input">
                    </div>
                    <div class="outfit_output">
                        {% for item in outfit %}
                        <image width="100" src="{{ url_for('static', filename='uploaded_images/' ~ item[0] ~ '.png') }}"> </image>
                        
                        {% endfor %}
                    </div>
                    <div class="generate_button">
                        <button type = "submit" class="generate">Generate outfit!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById("close").addEventListener("click",() => {
        document.querySelector(".image_popup").classList.toggle("hidden");
    });
</script>
<script>
    document.querySelector('.navbar__burgers').addEventListener('click', () => {
        document.querySelector('.hamburger_menu_active').classList.toggle('hidden');
    });
</script>
</html>
